table{
    width: 50%;
    border-collapse: collapse;
    border: 1px solid black
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

body{
    background-color: bisque;
}

.nav{
background-color: ghostwhite;
position: sticky;
top: 0px;
padding: 0px;
width: 100%;
}

.nav ul{
    list-style-type: none;
    display: flex;
    margin: 0px;
    gap: 20px;
    padding: 10px 15px;
}

.flexbox{
    display: flex;
    background-color:darkgray;
}
.words{
    
    
    flex: 1;
    
}
.image{
       
    flex-basis: 100%;
    flex: 1;
}
.user1{
    float: left;
    width: 10px;
    height: 20px;
    background-color: darkslategrey;
    padding: 10px;

}